@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark, cupcake;
}

.header {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-right: auto;
    gap: 6px;
}

.logo {
    height: 20px;
}